/bundles/*.zip
/cts_home/*
ts.save
target/
/summarizer/*.txt
/summarizer/*-report.xml
/summarizer/logs
/summarizer/*.log
/summarizer/summary-*
/results/
.vscode/
.project
.settings/
.classpath
cdi/latest-glassfish.zip
cdi/*.log
/stage_*