[submodule "cdi/cditck-porting"]
	path = cdi/cditck-porting
	url = https://github.com/payara/cditck-porting
[submodule "bv/bvtck-porting"]
	path = bv/bvtck-porting
	url = https://github.com/payara/bvtck-porting
[submodule "di/ditck-porting"]
	path = di/ditck-porting
	url = https://github.com/payara/ditck-porting
[submodule "jaxb-tck"]
	path = jaxb/jaxb-tck
	url = https://github.com/eclipse-ee4j/jaxb-tck
[submodule "dsol-tck"]
	path = dsol/dsol-tck
	url = https://github.com/eclipse-ee4j/debugging-support-for-other-languages-tck
[submodule "mail/mail-tck"]
	path = mail/mail-tck
	url = https://github.com/payara/mail-tck
